* {
  margin: 0;
  font-family: Consolas;
}

main {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

#sliders {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input[type="range"] {
  min-width: 256px;
}

#sliders p {
  text-align: center;
}

#preview {
  width: 256px;
  height: 10%;
}